# 必要に応じて、SERVERの値を変更してください
# .env.exampleの、「.example」を外したファイル名で保存することで、サーバーの設定を反映させることができます。
SERVER = "10.192.00.00" # サーバーのIPアドレス (随時変更)
WAITING_PORT = 8765 # センサー受信サーバーのポート番号（基本変えない）
NAME = "*********" #ユーザの学籍番号
