# このファイルは、サーバーのIPアドレスとポート番号を設定するための環境変数を定義しています。
# .env.exampleの、「.example」を外したファイル名で保存することで、サーバーの設定を反映させることができます。

SOCKET_PORT=8765
SOCKET_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_HOST=0.0.0.0
DATA_DIR=lastwork
CSV_FILENAME=sensor_data.csv
